#dashboardResume {
  background-color: #fff;
  padding-left: 7px;
  padding-right: 7px;
}

h4 {
  font-weight: 600;
}

.alignRight {
  text-align: right;
}
.alignCenter {
  text-align: center;
}
.fitColumn {
  width: 5%;
}
.slimColumn {
  width: 10%;
}
.slimColumnx2 {
  width: 15%;
}
.sortIcon {
  font-size: 75%;
}
.alignRightFormat {
  text-align: right;
}
.editWidth {
  width: 10%;
}

.blueBorder {
  border: 1px solid #64B5F6;
}
.redBorder1 {
  border: 1px solid #F44336;
}
.greenBorder2 {
  border: 1px solid #4CAF50;
}


.greenBorder1 {
  border: 1px solid #00E676;
}
.noBackGround {
  background-color: transparent;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #E3F2FD;
    color: black;
}

.table-striped>tbody>tr:nth-of-type(1) {
    background-color: #2196F3;
    color: white;
}
a, a:visited, a:hover{
  color: black;
  text-decoration: none;
}
.navTextInput {
  color: black;
  margin-top: 12px;
}
