
<style>
  .inputFile {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
        line-height: 20px;
  }
  .navbar .collapse .glyphicon {
    font-size: 120%;
    color: #344feb;
  }
  .navbar .navbar-heade .glyphicon:hover {
    color: #344feb;
  }

</style>

<nav class="navbar navbar-inverse bg-inverse">
  <!-- Navbar content -->
  <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand navbar-toggler" href=""><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" style="font-size: 140%; top: -1px;"></span></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#!/"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;Dashboard</a></li>
          <li><a href="#!/list"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;List</a></li>
          <li><a href="#!/users"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Users</a></li>
      
          <!--<li><a href="" ng-click="saveLocalData()">Save</a></li>-->
          <!--<li><input type="file" class="inputFile" custom-on-change="loadLocalData"></li>-->
        </ul>
      </div><!--/.nav-collapse -->
  </div>
</nav>
<script type="text/javascript">

  $('.navbar-toggler').on('click', function () {
    toggleSideNavBar(  );
  });
</script>
