
<div class="sideNav">

  <div class="sideNavContainer">

    <div class="sideNavHeader">
      <h2>Splitto</h2>
      <hr style="">
    </div>

    <div class="sideNavBody">

      <!-- Navigation -->
      <div class="sideNavAccordion sideNavAccordionNavigation">
        <div class="sideNavAccordionTitle">
          <span>Navigation</span><span class="glyphicon glyphicon-move" aria-hidden="true" style="float: right;     margin-top: 12px;"></span>
        </div>
        <div class="sideNaveAccordionElements"  >
          <!-- Resume -->
          <a href="#!/">
            <div class="sideNavElement">
              <span class="glyphicon glyphicon-th" aria-hidden="true"></span><span>&nbsp;&nbsp;&nbsp;Dashboard</span>
            </div>
          </a>
          <!-- List -->
          <a href="#!/list">
            <div class="sideNavElement">
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><span>&nbsp;&nbsp;&nbsp;List</span>
            </div>
          </a>
          <!-- Users -->
          <a href="#!/users">
            <div class="sideNavElement">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span>&nbsp;&nbsp;&nbsp;Users</span>
            </div>
          </a>

        </div>
      </div>

     
    </div>

    <div class="sideNavFooter">

    </div>

  </div>
</div>


<!-- CSS -->
<style>

  .sideNav {
    background-color: #101010;
    color: #9d9d9d;
    position: fixed;
    top: 0;
    left: -25%;
    width: 25%;
    height: 101vh;
    z-index: 999;
    overflow-x: hidden;
  }
  .sideNavContainer a,
  .sideNavContainer a:visited,
  .sideNavContainer a:hover {
    color: #9d9d9d;
    text-decoration: none;
  }
  .sideNavHeader {
    color: #f4f4f4 !important;
    padding-left: 5%;
    padding-right: 5%;
  }
  .sideNavBody{

  }
  .sideNavFooter {
    position: absolute;
    width: 100%;
    bottom: 0%;
  }
  .sideNavAccordion .sideNavElement {
    margin-left: 5%;
    width: 95%;
  }

  .sideNavElement,
  .sideNavAccordionTitle {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 7px;
    position: relative;
  }
  .sideNaveContainer {
    height: auto;
  }
  .sideNavElement:hover,
  .sideNavAccordion:hover > .sideNavAccordionTitle {
    color: #f4f4f4;
    background-color: #333;
    cursor: pointer;
  }

  .sideNavAccordionTitle  {
    font-weight: 600;
    font-size: 130%;
    border-bottom: 2px solid #344feb;
  }
  .sideNav hr {
    border-color: #344feb;
  }
  .sideNaveAccordionElements hr {
    margin-left: 10%;
  }
  .sideNav .glyphicon {
    font-size: 130%;
    color: #344feb;
  }
  .removePointer {
    cursor: initial !important;
  }

  @media only screen
  and (max-width: 1199px){
    .sideNav {
      width: 40%;
      left: -40%;
    }
  }
  @media only screen
  and (max-width: 767px){
    .sideNav {
      width: 60%;
      left: -60%;
    }
  }

</style>
<!-- JS -->
<script type="text/javascript">
  var navBarStatus = false;
  function toggleSideNavBar(  ) {
    navBarStatus = !navBarStatus;
    if ( navBarStatus === true ) {
      $('.sideNav').animate({left: '0'},null);
    }
    else {
      console.log( $('.sideNav').width() );
      $('.sideNav').animate({ left: -$('.sideNav').width() },null);
    }
  }
  $('.sideNavAccordion').data('status', 'on');
  $('.sideNavAccordion').on('click', function () {
    if ( $(this).data('status') === 'on' ) {
      $(this).data('status', 'off');
      $(this).find('.sideNaveAccordionElements').slideUp();
    }
    else {
      $(this).data('status', 'on');
      $(this).find('.sideNaveAccordionElements').slideDown();
    }
  });
  $('.sideNavAccordion .sideNaveAccordionElements').on('click', function (e) {
    e.stopPropagation();
  });
  $('.sideNavAccordionNavigation').unbind('click');
  $('.sideNav').on('mouseleave', function () {
    toggleSideNavBar(  );
  })


  window.onresize = function () {
    if ( navBarStatus === true ) {
      $('.sideNav').animate({left: '0'},null);
    }
    else {
      console.log( $('.sideNav').width() );
      $('.sideNav').css({ left: -$('.sideNav').width() });
    }
  };

</script>
